<% content_for :sidebar do %>
<%= render :partial => "shared/collections_sidebar" %>
<% end %>


<%= render :partial => "shared/collections_breadcrumbs" %>

<small><%= link_to "New Collection", "#", id: 'create-coll', class: "btn pull-right" if can_edit? %></small>
<div id="create-modal" class="modal hide fade">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="text-center">Create a new collection?</h3>
</div>
 <div class="modal-footer">
    <%= form_tag(explorer_collections_path(current_database_name, current_collection_name), :method=> :post, :id => 'addcollfrm') do %>
      <fieldset>
        <%=text_field_tag 'coll' , '', :placeholder => 'Collection name...', :class => 'colltxt pull-left' %> 
        <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger">Cancel</button>
        <%= submit_tag 'Save Collection', :class => 'btn btn-primary'%>
      </fieldset>
    <% end %>
  </div>
</div>


<div style ="text-align:right;">
<div style ="text-align:bottom;">
<small>
  <%= link_to "Delete Database", explorer_path(current_database_name), 
  confirm: "Are you sure you want to delete the database?", 
  method: :delete, class: "btn btn-danger pull-left" %>
</small>
</div>

<div style ="padding-left:140px;">
<small><%= link_to "Copy Database", "#", id: 'copy-db', class: "btn pull-left" if can_edit? %></small>


<div id="create-db-modal" class="modal hide fade">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="text-center">Copy 
  <%= link_to current_database_name, explorer_path(current_database_name) %> 	database?</h3>
  </div>
  <div class="modal-footer">
  	<%= form_tag(edit_explorer_path(current_database_name), :method => :get ,:id => 'copydbfrm') do %>
      <div id ='Errors'></div>
      <fieldset>
        <%=text_field_tag 'db' , '', :placeholder => 'Database name...', :class => 'dbtxt pull-left' %> 
        <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger">Cancel</button>
        <%= submit_tag 'Save Database', :id => 'copy_database',:class => 'btn btn-primary copy_db_submit'%>
    </fieldset>
  </div>
</div>
</div>
</div>


<% end %>


<% if @collections.count() != 0 %>
<!--new_explorer_collection_path(current_database_name) -->
<small><%= link_to "New Collection","#" , :id => 'newcolbtn', class: "btn pull-right"  %></small>
<!-- start modal -->
<div id="createcolmodal" class="modal hide fade">
    <!--modal header -->
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create Collection</h3>
  </div>
   
   <!-- modal footer -->
   <div class="modal-footer">
    <%= form_tag(explorer_collections_path(current_database_name, current_collection_name), :method=> :post, :id => 'addcollfrm') do%>
    <fieldset>
       <div id="col-error" style ="float:right; width:50%; height: 50%"></div>
        <div align = "left"> <p>Enter a collection name</p></div>
       <%=text_field_tag 'coll' , '', :placeholder => 'New collection name', :class => 'colltxt pull-left' %> <br />
       <br />
      <div align="left">
        <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger">Cancel</button>
        <%= submit_tag 'Save Collection', :class => 'btn btn-primary', :id => 'colbtn' %>
      </div>
    </fieldset>  
    <% end %>


  </div>
</div>
<br />
<h1>Collections</h1>
<br/>

<table  class ="table table-hover" id = "coltbl">
    <thead> 
        <tr>
            <th>collection name</th>
            <th style = "text-align: center"> no. of documents</th>
            <th style = "text-align: center"> size</th>
        </tr>
    </thead>
    <tbody>
    
        <% @collections.each do |collection| %>
         <tr>
          
           <td>
               <%= link_to collection.name, explorer_collection_path(current_database_name, collection.name) %>
            </td> 
            <td style = "text-align: center">
                <%= collection.count() %>
            </td>
            <td style = "text-align: center">
                <%= collection.stats.size %> bytes
            </td>
         </tr>
         <% end %>
    </tbody>
    
    
</table>


<% else %>
 There are no collections in this database want to <%= link_to "create one?", new_explorer_collection_path(current_database_name) %> 

<small><%= link_to "New Collection", "#", id: 'create-coll', class: "btn pull-right"  %></small>
<div id="create-modal" class="modal hide fade">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="text-center">Create a new collection?</h3>
  </div>
  <div class="modal-footer">
    <%= form_tag(explorer_collections_path(current_database_name, current_collection_name), :method=> :post, :id => 'addcollfrm') do %>
      <fieldset>
        <%=text_field_tag 'coll' , '', :placeholder => 'Collection name...', :class => 'colltxt pull-left' %> 
        <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger">Cancel</button>
        <%= submit_tag 'Save Collection', :class => 'btn btn-primary', :id => 'colbtn'%>
      </fieldset>
    <% end %>
  </div>
</div>
<% end %>

<%= render :partial => "shared/collections_breadcrumbs" %>



